




h1 { 
    margin: 10px 40px;
    border: 5px solid black;
    padding: 10px;
    background: #8A8A94;
    width: 200px;    
}
legend {
    margin: 10px 30px;   
}
h2 {
    margin: 10px 70px;
}
a {
    margin: 10px 100px;
}